@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        @{ 
            if (Request.IsLocal)
	        {
		        if(@Model != null && @Model.Exception != null)
                    {
                        <h3>
                            Exception was : @Model.Exception.Message
                        </h3>
                        <h4>
                            Stack Trace: @Model.Exception.StackTrace
                        </h4>
                    }
                    else
                    {
                        <h3>
                            Exception was null
                        </h3>
                }
            }
            else
            {
                <h4>
                    The Error has been reported to the Administrator
                </h4>
            }
        }
    </hgroup>
</body>
</html>
