
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error 404</title>
</head>
<body>
    <div> 
        <hgroup>
            <h1>Error 404</h1>
            <h2>The requested page or resource was not found.</h2>
        </hgroup>
    </div>
</body>
</html>
